<div class="ex1">
  <table class="table table-bordered table-hover table-dark">
    <thead>
      <tr>
        <th>N.</th>
        <th>Titulo</th>
        <th>Descripcion</th>
        <th>Fecha</th>
        <th>Operaciones</th>
      </tr>
    </thead>
    <tbody>
      {{#each tasks}}
      <tr>
        <td>{{@index}}</td>
        <td>{{Nombre}}</td>
        <td>{{Estado}}</td>
        <td>{{Fecha}}</td>
      </tr>
      {{/each}}
    </tbody>
  </table>
</div>


