<div class="ex1">
  <table class="table table-bordered table-hover table-dark">
    <thead>
      <tr>
        <th>N.</th>
        <th>Nombre</th>
        <th>Estado</th>
        <th>Tipo</th>
        
      </tr>
    </thead>
    <tbody>
      {{#each tasks}}
      <tr>
        <td>{{@index}}</td>
        <td>{{Nombre}}</td>
        <td>{{Estado}}</td>
        <td>{{Tipo}}</td>
      </tr>
      {{/each}}
    </tbody>
  </table>
</div>


