<div class="container">
    <div class="row">
        <div class="col-md-3">
            {{> tasks/tasksform}}
        </div>
        <div class="col-md-9">
            {{> tasks/tasksTable}}
        </div>
    </div>
</div>